<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom"
>
  <h1 class="h2">آمار ثبت نام کاربرای در هفته گذشته</h1>

  <div class="btn-toolbar mb-2 mb-md-0">
    ثبت نامی های یک ماه اخیر :
    <h4><%= usersM.length %></h4>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
    همه کاربران:
    <h4><%= userCount.length %></h4>
  </div>
</div>

<canvas class="my-4" id="myChart" width="900" height="380"></canvas>

<!-- Icons -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
      type: "line",
      data: {
          labels: ["<%= date(startDay7).format('jD jMMMM jYYYY') %>", "<%= date(startDay6).format('jD jMMMM jYYYY') %>", "<%= date(startDay5).format('jD jMMMM jYYYY') %>", "<%= date(startDay4).format('jD jMMMM jYYYY') %>", "<%= date(startDay3).format('jD jMMMM jYYYY') %>", "<%= date(startDay2).format('jD jMMMM jYYYY') %>", "<%= date(startDay1).format('jD jMMMM jYYYY') %>"],
          datasets: [
              {
                  data: [<%= users7.length %>, <%= users6.length %>, <%= users5.length %>, <%= users4.length %>, <%= users3.length %>, <%= users2.length %>, <%= users1.length %>],
                  lineTension: 0,
                  backgroundColor: "transparent",
                  borderColor: "#007bff",
                  borderWidth: 4,
                  pointBackgroundColor: "#007bff",
              },
          ],
      },
      options: {
          scales: {
              yAxes: [
                  {
                      ticks: {
                          beginAtZero: false,
                      },
                  },
              ],
          },
          legend: {
              display: false,
          },
      },
  });
</script>
